@(books: List[Book])(journalPapers: List[Paper])(conferencePapers: List[Paper])

<!DOCTYPE html>

<html>

	<style>
	
		h2 {
			font-family:sans-serif;
		}
		
		li {
			font-family:sans-serif;
			margin:.5em;
		}
		
		.paper_title {
			font-weight: bold;
			display: inline;
		}
	</style>

    <body>
    	<h1>Publications</h1>
    
    	<h2 id='books'>Books</h2>
    	<ol>
    	@for(book <- books) {
    		<li>
    			@book.authors, "<a href="@book.link">@book.name</a>," @book.details
    		</li>
    	}
    	</ol>
    	
    	@defining(
    		Map (
    			"Journal Papers" -> journalPapers,
    			"Conference Papers" -> conferencePapers
    		)
    	) { titleToPapers =>	
			@titleToPapers.map{ case(title, papers) =>
				@if(papers.length > 0) {
					<h2 id='@{papers.head.category + 's'}'>@title</h2>
    				<ol>
					@for(paper <- papers) {
	    				<li>
	    					@paper.authors, <div class='paper_title'>"@paper.title,"</div> @paper.details
	    					<br />
	    					@if(paper.abstractLink.length > 0) {
	    						[<a href="@paper.abstractLink">Abstract</a>] 
							}
							@if(paper.pdfLink.length > 0) {
								[<a href="@paper.pdfLink">PDF</a>]
							}
	    				</li>
	    			}
    			}
    			</ol>
    		}
    	}
    </body>
</html>
