@(technicalReports: List[TechnicalReport])

<!DOCTYPE HTML>

<html>

	<body>
	
		<table>
			@for((technicalReport, index) <- technicalReports.zipWithIndex) {
				<tr>
					<td>@{index+1}</td>
					<td>@technicalReport.technicalReportId</td>
					<td>@technicalReport.authors</td>
					<td><a href="@routes.Application.technicalReport(technicalReport.technicalReportId)">@technicalReport.title</a></td>
					<td>@technicalReport.date</td>
					<td>
						@if(technicalReport.pages > 0) {
							@technicalReport.pages
						}
					</td>
					<td>
						@if(technicalReport.reportLink.length > 0) {
							<a href="@technicalReport.reportLink">PDF</a>
						}
					</td>
				</tr>
			}
		</table>
	</body>
</html>
